<mat-card class="login-card">
  <mat-card-header >
    <mat-card-title>Activity Log</mat-card-title>
  </mat-card-header>
  <span></span>
  <form class="login-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl" #userEmail>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  <span></span>

      <mat-form-field  class="full-width">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" #userPassword >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  <span></span>

    </form>
    <button mat-button color="primary" class="full-width" (click)="authService.login(userEmail.value,userPassword.value)">LOGIN</button>
  <span></span>
    <button mat-button color="primary" class="full-width" [routerLink]="['/register/']">REGISTER</button>
</mat-card>
