.dashboard-card {
  top: 100px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  background-color: #3f51b5;
  color: whitesmoke;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}
.cards-container{
  display: flex;
  flex-direction: row;
  float: left;
  flex-wrap: wrap;
}
.activity-card{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto 5px auto;
}
