<mat-card class="dashboard-card">
    <mat-card-actions>
        <button mat-raised-button  [routerLink]="['/new-activity']">Add new activity</button>
    </mat-card-actions>
  <mat-card-header>
    <h3>
      Your activities:
    </h3>
  </mat-card-header>
  <span></span>
  <div class="cards-container">
    <mat-card *ngFor="let activity of activityList | async" class="activity-card">
        <mat-card-header>
          <mat-card-title>Activity: {{ activity.name }}</mat-card-title>
          <mat-card-subtitle>Activity date: {{  activity.date }}</mat-card-subtitle>
          <mat-card-subtitle>Activity duration: {{  activity.duration }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="DeleteButtonClick(activity)" >Delete</button>
        </mat-card-actions>
      </mat-card>
  </div>

</mat-card>
