<mat-card class="new-activity-card">
    <div>
        <p>Add new activity</p>
    </div>
  <span class="space"></span>
  <form [formGroup]="addActivityForm">
      <mat-form-field>
        <input matInput placeholder="Activity name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Activity duration" name="duration" formControlName="duration" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Activity date" name="date" formControlName="date" required>
      </mat-form-field>
  </form>
  <button class="form-field" mat-raised-button color="primary" (click)="AddButtonClick()" >Add</button>
  <span class="space"></span>
  <button class="form-field" mat-raised-button color="primary" [routerLink]="['/dashboard']" >Cancel</button>
</mat-card>
